
<div class="down-label">
    <img style="float:left" src="assets/images/discount.svg">
    <div style="float:left" class="label2">
        <div>ЦЬОГО</div>
        <div>ТИЖНЯ </div>
        <p>НА ВСЕ </p>
        <div>- - -</div>
        <p>-20%</p>
    </div>
</div>

<div class="basement">
    <div class="bottom-container" >
        <div id="base-line"> Pizza.22 - практичний курс в межах курсу JavaScript в Києво - Могилянській академії </div>
        <div id="base-line"> Доставка піци не здійснюється </div>
    </div>
</div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

    <!--Bootsrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--Own JavaScript -->
    <script type="text/javascript" src="assets/js/main.js"> </script>

</body>

</html>
