<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

</head>

<body>

<div class="up-label">   
    <div style="float:left" class="label1">
        <p></p>
        <div>PIZZA</div>
        <!--            <span></span>-->
        <!--            <span>KMA </span>-->
        <div> KMA </div>
    </div>
    <img style="float:left" src="assets/images/discount.svg" class="image">
</div>

<div class="main-board">
    <div class="information-board">
        <div class="main-info">
            <div id="fs" style="font-size: 18px; margin-right: 30px"> (044)222 5 222 </div>
            <div id="ss" style="font-size: 12px; margin-right: 30px; margin-top: 5px"> 24 години/ 7 днів на тиждень </div>
            <div id="ts" style="font-size: 14px; margin-right: 30px; margin-top: 2px"> Безкоштовна доставка піци </div>
            <button type="button" class="warning" id="log-in"> Log in </button>
        </div>
        <div class="pizza-title">
            <div> PIZZA </div>
            <button type="button" class="warning" id="log-in-2"> Log in </button>
        </div>
    </div>
</div>
